.DS_Store
node_modules
# Nuxt
.output
.data
.nuxt
.nitro
.cache
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# bihaiServer 网站静态打包发布文件目录
publicDist